In [1]:
import os
import pandas as pd

In [2]:
#Resource Files
games='../Resources/games.json'
profiles='../Resources/profiles.json'

In [3]:
#read into DataFrame
games_df=pd.read_json(games)
profiles_df=pd.read_json(profiles)

In [5]:
profiles_df.sample(20)

,player_id,name,position,height,weight,current_team,birth_date,birth_place,death_date,college,high_school,draft_team,draft_round,draft_position,draft_year,current_salary,hof_induction_year
14036,5277,Paul Davis,LB,6-2,221.0,None,1958-07-10,"Appalachia, VA",None,North Carolina,"Appalachia, VA",None,NaN,NaN,NaN,None,NaN
6480,19944,Wash Serini,DG-G-T,6-2,236.0,None,1922-03-11,"Tuckahoe, NY",1994-06-21,Kentucky,"Eastchester, NY",None,NaN,NaN,NaN,None,NaN
1719,8775,Dick Haley,DB-HB-E,5-10,183.0,None,1937-10-02,"Midway, PA",None,Pittsburgh,"Midway, PA",Washington Redskins,9.0,100.0,1959.0,None,NaN
18023,4303,Greg Collins,LB,6-3,228.0,None,1952-12-08,"Troy, MI",None,Notre Dame,"Brother Rice, MI",San Francisco 49ers,2.0,35.0,1975.0,None,NaN
19034,16558,Jay Novacek,TE,6-4,234.0,None,1962-10-24,"Martin, SD",None,Wyoming,"Gothenburg, NE",St. Louis Cardinals,6.0,158.0,1985.0,None,NaN
17380,16704,Mel Odelli,HB,5-8,176.0,None,1920-12-09,"Smithton, PA",2010-12-28,Duquesne,"South Huntingdon, PA",Pittsburgh Steelers,14.0,132.0,1945.0,None,NaN
3130,13522,Mike London,LB,6-2,230.0,None,1944-12-31,"Madison, WI",None,Wisconsin,"Central, WI",San Diego Chargers,14.0,126.0,1966.0,None,NaN
9271,11403,Robert Johnson,TE,6-6,270.0,None,1980-06-20,"Montgomery, AL",None,Auburn,"Jefferson Davis, AL",None,NaN,NaN,NaN,None,NaN
2911,17460,Ted Petersen,T-C-G,6-5,244.0,None,1955-02-07,"Kankakee, IL",None,East. Illinois,"Momence, IL",Pittsburgh Steelers,4.0,93.0,1977.0,None,NaN
14405,18018,Bob Ptacek,QB,6-1,205.0,None,1937-04-23,"Cleveland, OH",None,Michigan,"Holy Name, OH",Cleveland Browns,8.0,87.0,1959.0,None,NaN
15359,12834,Clayton Lane,T,6-0,215.0,None,1922-11-23,"Worcester, MA",2000-01-29,New Hampshire,"Brattleboro, VT",Pittsburgh Steelers,14.0,124.0,1948.0,None,NaN
6792,22443,Erik Totten,DB,5-9,194.0,None,1980-01-21,"Renton, WA",None,West. Washington,"Tahoma, WA",None,NaN,NaN,NaN,None,NaN
9306,17873,Roger Powell,WB,6-0,180.0,None,1894-08-17,"Austin, TX",1988-01-28,Texas A&M;,"Austin Academy, TX",None,NaN,NaN,NaN,None,NaN
19854,21598,Eddie Sutter,LB,6-3,240.0,None,1969-10-03,"Peoria, IL",None,Northwestern,"Richwoods, IL",None,NaN,NaN,NaN,None,NaN
9354,5702,David Dixon,G,6-5,343.0,None,1969-01-05,"Papakura, New Zealand",None,Arizona St.,"Pukekohe, New Zealand",New England Patriots,9.0,232.0,1992.0,None,NaN
6467,10729,Bill Jackson,DB,6-1,202.0,None,1960-07-01,"Winston-Salem, NC",None,North Carolina,"North Forsyth, NC",Cleveland Browns,8.0,211.0,1982.0,None,NaN
16283,9180,Jim Harris,DT,6-4,280.0,None,1943-02-24,"Lake Charles, LA",None,Utah St.,"Berkeley, CA",New York Jets,7.0,52.0,1965.0,None,NaN
15704,13734,Dustin Lyman,TE,6-4,245.0,None,1976-08-05,"Boulder, CO",None,Wake Forest,"Fairview, CO",Chicago Bears,3.0,87.0,2000.0,None,NaN
1927,15662,D.J. Moore,DB,5-10,185.0,None,1987-03-22,"Spartanburg, SC",None,Vanderbilt,"Broome, SC",Chicago Bears,4.0,119.0,2009.0,None,NaN
15860,7821,Mike Gibbons,T,6-4,262.0,None,1951-01-23,"Duncan, OK",2005-11-29,SW Oklahoma St.,"Duncan, OK",None,NaN,NaN,NaN,None,NaN

In [6]:
#Cleaning up data for players listed with multiple positions, the primary one is the one kept.
position_data = profiles_df["position"]
position_cleanup = []
for x in position_data:
    position_cleanup.append(x[:2])
profiles_df["position_cleaned"] = position_cleanup

In [7]:
#DataFrame by position
#Offense

QB_position=profiles_df.loc[profiles_df['position'] == 'QB']
WR_position=profiles_df.loc[profiles_df['position'] == 'WR']
TE_position=profiles_df.loc[profiles_df['position'] == 'TE']
RB_position=profiles_df.loc[profiles_df['position'] == 'RB']
G_position=profiles_df.loc[profiles_df['position'] == 'G']
T_position=profiles_df.loc[profiles_df['position'] == 'T']
FB_position=profiles_df.loc[profiles_df['position'] == 'FB']
C_position=profiles_df.loc[profiles_df['position'] == 'C']

In [8]:
#DataFrame by position
#Defense
DB_position=profiles_df.loc[profiles_df['position'] == 'DB']
S_position=profiles_df.loc[profiles_df['position'] == 'S']
LB_position=profiles_df.loc[profiles_df['position'] == 'LB']
ILB_position=profiles_df.loc[profiles_df['position'] == 'ILB']
CB_position=profiles_df.loc[profiles_df['position'] == 'CB']
DE_position=profiles_df.loc[profiles_df['position'] == 'DE']
DT_position=profiles_df.loc[profiles_df['position'] == 'DT']
FS_position=profiles_df.loc[profiles_df['position'] == 'FS']

In [9]:
#DataFrame by position
#Special Teams
K_position=profiles_df.loc[profiles_df['position'] == 'K']
P_position=profiles_df.loc[profiles_df['position'] == 'P']

In [10]:
#separating offense and defense
offensive_positions =['QB','RB','TB','HB','WR','TE','FB','WB','SE','FL']
offensive_position_players = profiles_df[profiles_df["position_cleaned"].isin(offensive_positions)]
offensive_position_players.head()

,player_id,name,position,height,weight,current_team,birth_date,birth_place,death_date,college,high_school,draft_team,draft_round,draft_position,draft_year,current_salary,hof_induction_year,position_cleaned
3,18182,Steve Ramsey,QB,6-2,210.0,None,1948-04-22,"Dallas, TX",1999-10-15,North Texas,"W.W. Samuell, TX",New Orleans Saints,5.0,126.0,1970.0,None,NaN,QB
5,4310,Jerome Collins,TE,6-4,267.0,None,1982-08-18,"Columbus, GA",None,Notre Dame,"Wheaton-Warrenville South, IL",St. Louis Rams,5.0,144.0,2005.0,None,NaN,TE
7,13379,Hub Lindsey,RB,5-11,196.0,None,1945-03-17,"Steubenville, OH",None,Wyoming,"Steubenville, OH",None,NaN,NaN,NaN,None,NaN,RB
8,11755,LaMont Jordan,RB,5-10,230.0,None,1978-11-11,"Suitland, MD",None,Maryland,"Suitland, MD",New York Jets,2.0,49.0,2001.0,None,NaN,RB
10,24331,Jeff Wilner,TE,6-4,245.0,None,1971-12-31,"East Meadowbrook, NY",None,Wesleyan,"Phillips Exeter Academy, NH",None,NaN,NaN,NaN,None,NaN,TE

In [47]:
#combining different named positions to RB
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "TB", "position_cleaned"] = "RB"
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "HB", "position_cleaned"] = "RB"
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "FB", "position_cleaned"] = "RB"
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "WB", "position_cleaned"] = "RB"
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "SE", "position_cleaned"] = "WR"
offensive_position_players.loc[offensive_position_players["position_cleaned"] == "FL", "position_cleaned"] = "WR"
offensive_position_players.to_csv('../Resources/offensive_players.csv')

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [42]:
#filtering all offensive players into one DataFrame, and only pulling necessary columns
all_offensive_players=offensive_position_players['player_id']
total_offensive_stats = games_df[games_df["player_id"].isin(all_offensive_players)]
total_offensive_stats=total_offensive_stats.iloc[:,0:32]
total_offensive_stats.to_csv('../Resources/total_offensive_stats.csv')

In [48]:
total_offensive_stats

,player_id,year,date,game_number,age,team,game_location,opponent,game_won,player_team_score,...,receiving_targets,receiving_receptions,receiving_yards,receiving_touchdowns,kick_return_attempts,kick_return_yards,kick_return_touchdowns,punt_return_attempts,punt_return_yards,punt_return_touchdowns
317,18182,1970,1970-12-20,14,22-242,NOR,H,CHI,False,3,...,0,0,0,0,0,0,0,0,0,0
318,18182,1971,1971-09-26,2,23-157,DEN,A,GNB,False,13,...,0,0,0,0,0,0,0,0,0,0
319,18182,1971,1971-10-10,4,23-171,DEN,H,OAK,False,16,...,0,0,0,0,0,0,0,0,0,0
320,18182,1971,1971-10-24,6,23-185,DEN,A,CLE,True,27,...,0,0,0,0,0,0,0,0,0,0
321,18182,1971,1971-11-14,9,23-206,DEN,H,CIN,False,10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024083,13852,2014,2014-09-28,4,25-196,PHI,A,SFO,False,21,...,0,0,0,0,0,0,0,0,0,0
1024084,13852,2014,2014-10-12,6,25-210,PHI,H,NYG,True,27,...,0,0,0,0,0,0,0,0,0,0
1024085,13852,2014,2014-10-26,7,25-224,PHI,A,ARI,False,20,...,1,1,6,0,0,0,0,0,0,0
1024086,13852,2014,2014-11-02,8,25-231,PHI,A,HOU,True,31,...,2,2,13,0,0,0,0,0,0,0
1024087,13852,2014,2014-12-07,13,25-266,PHI,H,SEA,False,14,...,0,0,0,0,0,0,0,0,0,0

In [44]:
#categories for scoring points
QB_cat=total_offensive_stats[['player_id                          6707
year                                 68
date                               2632
game_number                          20
age                                7191
team                                 42
game_location                         3
opponent                             42
game_won  ']]